.change-lang {
  @apply fixed top-4 flex gap-2;
}
.btn-toggle-lang {
  @apply relative h-4 w-8 rounded-full border-2 border-gray-1 bg-transparent;
}

.buttom-custom-br {
  @apply absolute -left-1 -top-1 h-5 w-5 rounded-full bg-gray-3;
}
.buttom-custom-en {
  @apply absolute -right-1 -top-1 h-5 w-5 rounded-full bg-gray-3;
}

.role-span {
  @apply flex overflow-hidden text-red-1 xs:text-sm xs:font-400 md:text-3xl md:font-700;
}

.typing::after {
  content: "|";
  animation: blink-caret 0s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.toggle-theme {
  @apply absolute bottom-6 flex gap-2;
}
