<div class="w-screen h-max relative">
  <div
    class="w-screen xs:h-28 md:h-72 flex justify-center bg-gradient-to-r from-purple-1 to-purple"
  >
    <!-- <img src="/assets/icons/bg-initial.png" /> -->
    <div
      class="flex flex-col justify-center self-center xs:w-14 xs:h-14 md:w-44 md:h-44 bg-gradient-to-r from-purple-2 to-purple shadow-base rounded-full relative"
    >
      <div
        class="self-center absolute w-max h-max border-solid md:py-2 md:px-6 md:border-b-1"
      >
        <div class="w-max xs:text-xs md:text-7xl font-700">
          {{ nameHeader }}
        </div>
        <div
          class="w-max xs:text-2xs md:text-2xl xs:font-500 md:font-600 xs:bottom-0 md:bottom-6"
        >
          Web Developer
        </div>
      </div>
      <div
        class="w-full self-end absolute italic md:-right-24 xs:-right-4 bottom-0 md:text-base xs:text-3xs"
      >
        {{ phoneHeader }}
      </div>
    </div>
  </div>
  <div
    class="flex w-full justify-between md:pt-6 md:px-6 xs:px-3 xs:pt-3 top-0 absolute"
  >
    <div class="flex relative gap-1">
      <!-- <img [src]="'/assets/icons/icon/sun.svg'"/>
      <img [src]="'/assets/icons/icon/moon.svg'" /> -->
    </div>
    <div class="flex relative gap-2">
      <img
        [src]="'/assets/icons/country-flag/pt-br-flag.png'"
        width="22px"
        height="auto"
      />
      <button
        (click)="changeLang()"
        class="w-8 bg-transparent border-2 border-white rounded-full relative"
      >
        <div
          [ngClass]="{
            'buttom-custom-br': translateService.currentLang === 'pt-br',
            'buttom-custom-en': translateService.currentLang === 'en'
          }"
        ></div>
      </button>
      <img
        [src]="'/assets/icons/country-flag/en-flag.png'"
        width="22px"
        height="auto"
      />
    </div>
  </div>
</div>
