<div class="relative h-max w-full">
  <div
    class="relative flex items-center justify-between bg-gray-8 px-5 py-5 xs:h-24 md:h-36"
  >
    <div class="flex xs:gap-3 md:gap-5">
      <img
        src="../../../../assets/icons/icon/lucas-logo-vermelho.svg"
        width="40px"
      />
      <div class="flex flex-col justify-center">
        <div
          class="w-max whitespace-nowrap font-700 text-gray xs:text-lg md:text-6xl"
        >
          {{ nameHeader }}
        </div>
      </div>
    </div>

    <div class="xs:w-full xs:self-end md:w-1/3 md:self-center">
      <div class="relative w-max capitalize">
        <div class="role-span">
          <span [class.typing]="currentRole !== ''">
            {{ currentRole }}
          </span>
        </div>
      </div>
    </div>

    <div
      class="flex h-full flex-col items-end justify-end xs:absolute xs:right-2 xs:top-2 md:relative md:right-auto md:top-auto"
    >
      <div class="fixed top-4 flex gap-2">
        <img
          [src]="'/assets/icons/country-flag/pt-br-flag.png'"
          width="22px"
          height="auto"
        />
        <button
          (click)="changeLang()"
          class="relative h-4 w-8 rounded-full border-2 border-gray-1 bg-transparent"
        >
          <div
            [ngClass]="{
              'buttom-custom-br': translateService.currentLang === 'pt-br',
              'buttom-custom-en': translateService.currentLang === 'en'
            }"
          ></div>
        </button>
        <img
          [src]="'/assets/icons/country-flag/en-flag.png'"
          width="22px"
          height="auto"
        />
      </div>

      <div class="flex xs:invisible xs:gap-2 md:visible md:gap-10">
        <a href="https://github.com/devLucasCaetano" target="_blank">
          <app-svg-icon
            [src]="'/assets/icons/icon/github.svg'"
            [width]="'32px'"
            [height]="'32px'"
            color="#e1e1e6"
          >
          </app-svg-icon>
        </a>
        <a href="https://www.linkedin.com/in/dev-lucascaetano/" target="_blank">
          <app-svg-icon
            [src]="'/assets/icons/icon/linkedin.svg'"
            [width]="'32px'"
            [height]="'32px'"
            color="#e1e1e6"
          >
          </app-svg-icon>
        </a>
        <a href="https://www.instagram.com/dev.lucascaetano/" target="_blank">
          <app-svg-icon
            [src]="'/assets/icons/icon/instagram.svg'"
            [width]="'32px'"
            [height]="'32px'"
            color="#e1e1e6"
          >
          </app-svg-icon>
        </a>
      </div>
    </div>
  </div>
</div>
