.buttom-custom-br {
  @apply w-5 h-5 bg-gray-3 rounded-full absolute -top-1 -left-1;
}
.buttom-custom-en {
  @apply w-5 h-5 bg-gray-3 rounded-full absolute -top-1 -right-1;
}

.roles {
  @apply xs:bottom-0 md:bottom-6 md:py-2 xs:py-0 w-max whitespace-nowrap capitalize relative;
}

.role-span {
  @apply flex flex-col xs:text-xss md:text-2xl xs:font-400 md:font-700 md:absolute md:mt-2 md:h-7 xs:h-[14px] overflow-hidden;
}

span {
  animation: slide 8s steps(2) infinite;
}

@keyframes slide {
  100% {
    transform: translateY(-200%);
  }
}

span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  // border-left: 1px solid black;
  // animation: typing 4s steps(18) infinite;
}

// @keyframes typing {
//   40% {
//     left: 100%;
//   }
//   60% {
//     left: 100%;
//   }
//   100% {
//     left: 0;
//   }
// }

.images {
  @apply md:h-[100px] md:w-[100px] xs:h-[30px] xs:w-[30px];
  filter: blur(2px);
}
.images:hover {
  filter: blur(0px);
}

.images:nth-last-of-type(2) {
  position: absolute;
  bottom: 0;
  left: 0;
}
.images:nth-last-of-type(1) {
  position: absolute;
  bottom: 0;
  right: 0;
}
