.buttom-custom-br {
  @apply w-5 h-5 bg-gray-3 rounded-full absolute -top-1 -left-1;
}
.buttom-custom-en {
  @apply w-5 h-5 bg-gray-3 rounded-full absolute -top-1 -right-1;
}

.role-span {
  @apply flex xs:text-sm md:text-3xl xs:font-400 md:font-700 overflow-hidden text-red-1;
}

.typing::after {
  content: '|';
  animation: blink-caret 0s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.images {
  @apply md:h-[100px] md:w-[100px] xs:h-[30px] xs:w-[30px];
  filter: blur(2px);
}
.images:hover {
  filter: blur(0px);
}

.images:nth-last-of-type(2) {
  position: absolute;
  bottom: 0;
  left: 0;
}
.images:nth-last-of-type(1) {
  position: absolute;
  bottom: 0;
  right: 0;
}
