<div class="w-full h-auto flex flex-col justify-center items-start">
  <ng-container>
    <h2>
      {{ 'PROJECTS.TITLE' | translate }}
    </h2>
    <section>
      <p class="text-red font-700">{{ 'CONSTRUCTION' | translate }}</p>
      <div class="flex justify-around gap-10 items-center w-full flex-wrap">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </section>
  </ng-container>
</div>
