<div class="w-full h-auto flex flex-col justify-center items-start">
  <h2>
    {{ 'PROJECTS.TITLE' | translate }}
  </h2>
  <section>
    <p class="text-red-2 font-700">{{ 'CONSTRUCTION' | translate }}</p>
    <div class="flex justify-center gap-40 items-center w-full flex-wrap">
      <ng-container *ngFor="let p of projects">
        <div
          class="card"
          [ngStyle]="{ 'box-shadow': shadowStyle(p.color) }"
        >
          <div class="w-full h-full flex justify-center items-center relative">
            <div></div>

            <div
              class="flex w-full justify-evenly self-end absolute bottom-2 px-2"
              [ngClass]="{ 'align-right': p.tecnologies.length === 1 }"
            >
              <ng-container *ngFor="let icon of p.tecnologies">
                <ng-container *ngIf="p.tecnologies.length > 0">
                  <img
                    [src]="'../../../../assets/icons/icon/' + icon + '.svg'"
                    width="32px"
                  />
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</div>
