<div class="w-full h-auto flex flex-col justify-center items-center">
  <ng-container>
    <section>
      <h2>
        {{ 'ABOUT.TITLE' | translate }}
      </h2>
      <div class="xs:pt-3 md:pt-6 md:flex justify-around">
        <div
          class="flex items-center justify-center md:w-56 md:h-56 xs:w-full border-solid border-2 border-purple-1 rounded-full shadow-center"
        >
          <img class="w-max h-max" src="" alt="img-profile" />
        </div>
        <div class="md:w-2/3">
          <p>
            {{ 'ABOUT.PARAGRAPH_1' | translate }}
          </p>
          <p>
            {{ 'ABOUT.PARAGRAPH_2' | translate }}
          </p>
        </div>
      </div>
      <p>
        {{ 'ABOUT.PARAGRAPH_3' | translate }}
      </p>
      <p>
        {{ 'ABOUT.PARAGRAPH_4' | translate }}
      </p>
    </section>
  </ng-container>
</div>
