<div class="flex h-auto w-full flex-col items-center justify-center">
  <ng-container>
    <section>
      <h1>
        {{ "ABOUT.TITLE" | translate }}
      </h1>
      <div class="justify-around xs:pt-3 md:flex md:pt-6">
        <div class="flex items-center justify-center">
          <ng-container *ngFor="let profile of imagesProfile">
            <img
              class="profile-image"
              [src]="'https://github.com/lu0x43.png'"
              alt="img-profile"
            />
          </ng-container>
        </div>
      </div>
      <p class="paragraph" *ngFor="let paragraph of paragraphArray">
        {{ paragraph | translate }}
      </p>
    </section>
  </ng-container>
</div>
