<div class="w-full h-auto flex flex-col justify-center items-center">
  <ng-container>
    <section>
      <h1>
        {{ 'ABOUT.TITLE' | translate }}
      </h1>
      <div class="xs:pt-3 md:pt-6 md:flex justify-around">
        <div class="flex items-center justify-center">
          <ng-container *ngFor="let profile of imagesProfile">
            <img
              class="profile-image"
              [src]="'../../../../assets/icons/' + profile + '.jpg'"
              alt="img-profile"
            />
          </ng-container>
        </div>
      </div>
      <p class="paragraph" *ngFor="let paragraph of paragraphArray">
        {{ paragraph| translate }}
      </p>
    </section>
  </ng-container>
</div>
