h1 {
  @apply font-700 text-yellow-3 xs:pt-2 xs:text-base md:pt-6 md:text-xl;
}

p {
  @apply text-gray xs:pt-2 xs:text-base md:pt-3 md:text-lg;
}
.paragraph {
  @apply xs:pl-1 md:pl-4;
}

.profile-image,
img {
  box-sizing: initial;
  border-radius: 50%;
  object-fit: cover;
  @apply overflow-hidden border-solid border-red-2 shadow-center xs:h-40 xs:w-40 xs:border-3 xs:p-[3px] md:h-64 md:w-64 md:border-6 md:p-[6px];
}
