<div class="w-full h-auto flex flex-col justify-center items-start">
  <ng-container>
    <h1>
      {{ 'SKILLS.TITLE' | translate }}
    </h1>
    <section>
      <h2>
        {{ 'SKILLS.PRINCIPAL' | translate }}
      </h2>
      <div class="display-imgs">
        <ng-container *ngFor="let image of habilities">
          <img
            [alt]="image"
            [title]="image"
            [src]="'../../../../assets/icons/icon/' + image + '.svg'"
          />
        </ng-container>
      </div>
    </section>
    <section>
      <h2>
        {{ 'SKILLS.LEARNING' | translate }}
      </h2>
      <div class="display-imgs">
        <ng-container *ngFor="let imgLearn of learning">
          <img
            [alt]="imgLearn"
            [title]="imgLearn"
            [src]="'../../../../assets/icons/icon/' + imgLearn + '.svg'"
          />
        </ng-container>
      </div>
    </section>
  </ng-container>
</div>
