h1 {
  @apply md:text-xl xs:text-base md:pt-6 xs:pt-2 font-700 text-gray-9;
}

h2 {
  @apply md:pl-4 xs:pl-1 md:py-4 md:text-lg xs:text-xs xs:py-2 text-blue-1 font-700;
}

section {
  @apply w-full;
}

.display-imgs {
  @apply flex flex-row w-full flex-wrap justify-center;
}

img {
  @apply m-5 hover:scale-125 md:w-16 md:h-16 xs:w-10 xs:h-10;
}

.img-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  text-transform: capitalize;
}
