<div class="flex h-auto w-full flex-col items-start justify-center">
  <ng-container>
    <div class="flex w-full flex-col items-center gap-6">
      <span class="w-full items-center">
        <app-timeline
          [title]="titleFomal"
          [data]="educationArray"
        ></app-timeline>
      </span>
      <div class="w-4/5">
        <mat-card class="flex w-full rounded-4">
          <mat-card-content
            class="flex items-center justify-start rounded-t-4 bg-gray-7"
          >
            <button
              (click)="toggleExpanded()"
              class="flex w-full justify-between"
            >
              <div class="flex items-center text-center">
                <mat-icon
                  fontIcon="arrow_right"
                  class="font-bold text-red-2"
                ></mat-icon>
                <label
                  class="card-title"
                >
                  {{ "EDUCATION.COURSE" | translate }}
                </label>
              </div>
              <mat-icon
                *ngIf="!expanded"
                fontIcon="expand_more"
                class="font-bold text-gray"
              ></mat-icon>
              <mat-icon
                *ngIf="expanded"
                fontIcon="arrow_drop_up"
                class="font-bold text-gray"
              ></mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
        <ng-container *ngIf="expanded">
          <mat-card class="flex w-full flex-col">
            <mat-card-content class="rounded-b-4 bg-gray-6">
              text
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
