<div class="flex h-auto w-full flex-col items-start justify-center">
  <ng-container>
    <div class="flex w-full flex-col items-center gap-6">
      <span class="w-full items-center">
        <app-timeline
          [title]="titleFomal"
          [data]="educationArray"
        ></app-timeline>
      </span>
      <div class="w-4/5">
        <mat-card class="card">
          <mat-card-content class="card-content">
            <button (click)="toggleExpanded()" class="card-content-btn">
              <div class="card-content-btn-box">
                <mat-icon
                  fontIcon="arrow_right"
                  class="card-content-btn-box-icon"
                ></mat-icon>
                <label class="card-content-btn-box-title">
                  {{ "EDUCATION.COURSE" | translate }}
                </label>
              </div>
              <mat-icon
                *ngIf="!expanded"
                fontIcon="expand_more"
                class="card-content-btn-icon"
              ></mat-icon>
              <mat-icon
                *ngIf="expanded"
                fontIcon="arrow_drop_up"
                class="card-content-btn-icon"
              ></mat-icon>
            </button>
          </mat-card-content>
        </mat-card>
        <ng-container *ngIf="expanded">
          <mat-card class="card-expanded" [class.open]="expanded">
            <mat-card-content
              *ngFor="let course of translatedData"
              class="rounded-b-4 bg-gray-6 text-gray-1 xs:text-sm md:text-base"
            >
              <mat-card-header>
                <mat-card-title class="text-gray-1">
                  <a
                    class="hover:underline"
                    [href]="course?.link"
                    target="_blank"
                  >
                    {{ course.subTitle }}
                  </a>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <label class="text-xs text-red">
                  {{ course.date }}
                </label>
                <p class="text-base text-gray-1">
                  {{ course.text }}
                </p>
              </mat-card-content>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
