<ng-container>
  <div
    class="w-full md:h-12 xs:h-6 flex flex-row justify-center items-center shadow-bottom"
  >
    <div class="flex flex-row gap-20 h-max">
      <div class="flex- flew-row">
        <a
          class="text-lg font-700 hover:text-purple-1 hover:cursor-pointer"
          (click)="navigateTo('home')"
        >
          {{ 'NAVBAR.HOME' | translate }}
        </a>
      </div>

      <div class="flex- flew-row">
        <a
          class="text-lg font-700 hover:text-purple-1 hover:cursor-pointer"
          (click)="navigateTo('about')"
        >
          {{ 'NAVBAR.ABOUT' | translate }}
        </a>
      </div>

      <!-- <div class="flex- flew-row">
        <a
          class="text-lg font-700 hover:text-purple-1 hover:cursor-pointer"
          (click)="navigateTo('contact')"
        >
          {{ 'NAVBAR.CONTACT' | translate }}
        </a>
      </div> -->
    </div>
  </div>
</ng-container>
