<ng-container *ngIf="navbarPages">
  <div class="navbar" [ngClass]="{ expanded: openMenu === true }">
    <div class="xs:flex md:hidden w-4/5 h-full justify-end relative">
      <div class="h-auto w-full flex justify-between py-2 absolute">
        <div class="flex w-2/3 h-6 justify-between">
          <a href="https://github.com/devLucasCaetano" target="_blank">
            <app-svg-icon
              [src]="'/assets/icons/icon/github.svg'"
              [width]="'24px'"
              [height]="'24px'"
              color="#c4c4cc"
            >
            </app-svg-icon>
          </a>
          <a
            href="https://www.linkedin.com/in/dev-lucascaetano/"
            target="_blank"
          >
            <app-svg-icon
              [src]="'/assets/icons/icon/linkedin.svg'"
              [width]="'24px'"
              [height]="'24px'"
              color="#c4c4cc"
            >
            </app-svg-icon>
          </a>
          <a href="https://www.instagram.com/dev.lucascaetano/" target="_blank">
            <app-svg-icon
              [src]="'/assets/icons/icon/instagram.svg'"
              [width]="'24px'"
              [height]="'24px'"
              color="#c4c4cc"
            >
            </app-svg-icon>
          </a>
        </div>
        <button (click)="changeStateMenu()" class="menu">
          <div class="w-8 h-[5px] bg-gray-8 rounded-4"></div>
          <div class="w-8 h-[5px] bg-gray-8 rounded-4"></div>
          <div class="w-8 h-[5px] bg-gray-8 rounded-4"></div>
        </button>
      </div>
      <section *ngIf="openMenu" class="expanded-menu">
        <div
          *ngFor="let page of navbarPages"
          (click)="scrollComponent(page)"
          class="sessao"
        >
          {{ page | translate }}
        </div>
      </section>
    </div>

    <div class="md:flex xs:hidden h-full items-center">
      <ng-container *ngFor="let page of navbarPages">
        <div
          class="px-12 text-lg font-700 text-red-1 hover:text-red-2 hover:cursor-pointer hover:scale-90 whitespace-nowrap"
          (click)="scrollComponent(page)"
        >
          {{ page | translate }}
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
