<div class="w-full h-auto flex flex-col justify-center items-center">
  <ng-container>
    <section>
      <h2>
        {{ 'HOME.WELCOME' | translate }}
      </h2>
      <p>
        Eu me chamo Lucas sou apaixonado pelo desenvolvimento Web. Atuo nesse
        mercado desafiador desde o ano de 2020, criando códigos que impulsionam
        negócios, procurando sempre trazer as melhores soluções tecnológicas.
      </p>
      <p>
        Ao longo do meu percurso, tenho participado ativamente dos ciclos de
        vida de diversos projetos web. Com experiência ampla e diversificada, o
        que me permite ter uma visão abrangente de todo o processo de
        desenvolvimento. Fui reconhecido por minha habilidade na criação de
        projetos a partir do zero, além de suporte em correções de projetos já
        em produção.Estou constantemente me atualizando e acompanhando as
        tendências do mercado, explorando novas tecnologias para oferecer
        soluções eficientes.
      </p>
      <p>
        Sinta-se à vontade para explorar meu site e entrar em contato comigo.
        Estou pronto para colaborar e transformar suas ideias em realidade por
        meio de aplicações web funcionais, intuitivas e esteticamente atraentes.
        Vamos embarcar nessa jornada juntos!
      </p>
    </section>
  </ng-container>
</div>
