<div
  class="bottom-0 w-screen bg-gradient-to-b from-gray-9 via-gray-6 to-gray-9 shadow-top xs:h-40 md:h-60"
>
  <ng-container>
    <div class="flex h-full flex-col items-center justify-center px-12 py-4">
      <div class="h-full font-600 text-gray-1 xs:text-xs md:text-base">
        {{ "FOOTER.CONTACT" | translate }}
      </div>

      <div
        class="flex justify-between text-gray-1 xs:w-full xs:flex-col xs:items-center xs:text-xss md:w-2/3 md:flex-row md:items-end md:text-base"
      >
        <div class="flex flex-col xs:gap-1 md:flex-1 md:gap-2">
          <div class="self-center xs:invisible md:visible">
            <!-- {{ "FOOTER.SOCIAL" | translate }} -->
          </div>

          <div class="flex flex-col items-center xs:gap-1 md:gap-2">
            <div class="contact">
              <a [href]="info.linkedin" target="_blank" class="hover:text-blue">
                {{ "FOOTER.LINKEDIN" | translate }}
              </a>
            </div>

            <div class="contact">
              <a [href]="info.github" target="_blank" class="hover:text-blue">
                {{ "FOOTER.GITHUB" | translate }}
              </a>
            </div>

            <div class="contact">
              <a
                [href]="info.instagram"
                target="_blank"
                class="hover:text-blue"
              >
                {{ 'FOOTER.INSTAGRAM' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex h-full w-full justify-center">
        <div class="self-end text-gray-3 xs:text-2xs md:text-xs">
          ©
          {{ "FOOTER.COPYRIGHT" | translate }}
        </div>
      </div>
    </div>
  </ng-container>
</div>
