h1 {
  @apply md:text-2xl xs:text-base md:pt-8 xs:pt-1 md:px-10 xs:px-0 md:border-b-4 xs:border-0 border-blue border-solid font-700 text-gray-9;
}

h2 {
  @apply md:text-lg xs:text-sm font-700 text-blue-1;
}

.paragraph {
  @apply md:pl-4 xs:pl-1 md:pt-4 xs:pt-2;
}
p {
  @apply md:text-base xs:text-xs;
}

.company {
  @apply md:pl-8 xs:pl-2 md:hidden xs:block;
}

.dateTime {
  @apply mb-3 md:text-xs xs:text-xss capitalize text-blue-1 font-bold;
}

.timeline {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 5px;
}

.timeline .border {
  @apply absolute w-[2px] h-full border-2 border-solid border-blue rounded-[1%];
}

.timeline .left-timeline {
  flex-direction: row-reverse;
}

.timeline .right-timeline {
  flex-direction: row;
}

.timeline .timeline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.timeline .timeline-item .content {
  flex: 1;
  padding: 16px;
}

.timeline .timeline-item .content.text-right {
  text-align: right;
}
