<div class="w-full h-auto flex flex-col justify-center items-start">
  <ng-container>
    <section class="flex flex-col w-full md:items-center xs:items-start">
      <h1>
        {{ 'CAREER.TITLE' | translate }}
      </h1>

      <div class="company">
        <ng-container *ngFor="let company of careerArray">
          <a
            class="title hover:underline"
            [href]="company.link"
            target="_blank"
          >
            <h2>
              {{ company.title | translate }}
            </h2>
            <img
              [src]="'/assets/icons/icon/' + company.icon + '.svg'"
              [ngClass]="{
                'h-4 ': company.icon == 'performa',
                'h-6':
                  company.icon == 'atla-ensino' ||
                  company.icon == 'icon-gray-blue' ||
                  company.icon == 'icon-blue-gray',
                'ml-2': company.title == 'CAREER.FREELANCER'
              }"
            />
          </a>
          <label class="dateTime">
            {{ company.date | translate }}
          </label>
          <p class="paragraph">
            {{ company.text | translate }}
          </p>
        </ng-container>
      </div>

      <div class="xs:hidden md:block w-full sticky">
        <div class="mx-auto w-full h-full">
          <div class="timeline">
            <div class="border" style="right: 50%"></div>
            <div class="border" style="left: 50%"></div>

            <ng-container *ngFor="let company of careerArray; let even = even">
              <div
                class="timeline-item"
                [ngClass]="{ 'left-timeline': even, 'right-timeline': !even }"
              >
                <div class="order-1 w-1/2"></div>
                <div
                  class="order-1 w-1/2 content"
                  [ngClass]="{ 'text-right': even }"
                >
                  <label class="dateTime">{{ company.date | translate }}</label>
                  <div
                    class="title"
                    [ngClass]="{
                      'justify-end': even,
                    }"
                  >
                    <a
                      class="title hover:underline"
                      [href]="company.link"
                      target="_blank"
                    >
                      <h2>
                        {{ company.title | translate }}
                      </h2>
                      <img
                        [src]="'/assets/icons/icon/' + company.icon + '.svg'"
                        [ngClass]="{
                          'h-6 ': company.icon == 'performa',
                          'h-8':
                            company.icon == 'atla-ensino' ||
                            company.icon == 'icon-gray-blue' ||
                            company.icon == 'icon-blue-gray',
                          'ml-2': company.title == 'CAREER.FREELANCER'
                        }"
                      />
                    </a>
                  </div>
                  <p>{{ company.text | translate }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>
