:host {
  height: var(--svg-icon-height, 24px);
  width: var(--svg-icon-width, 24px);
  display: inline-block;

  --svg-icon-size: contain;
  --svg-icon-repeat: no-repeat;
  --svg-icon-position: center;

  mask-image: var(--svg-icon-url, initial);
  mask-size: var(--svg-icon-size);
  mask-repeat: var(--svg-icon-repeat);
  mask-position: var(--svg-icon-position);
  background-color: currentColor;
}

:host([color]) {
  background-color: var(--svg-icon-color, currentColor);
}

:host(.colorful),
:host([colorful]) {
  mask-image: initial;
  background-color: transparent;
  background-image: var(--svg-icon-url, initial);
  background-size: var(--svg-icon-size);
  background-repeat: var(--svg-icon-repeat);
  background-position: var(--svg-icon-position);
}
