<div class="w-full h-auto flex justify-center items-center">
  <ng-container>
    <div
      class="flex flex-col xs:w-3/4 md:w-1/2 xs:px-6 md:px-10 md:my-8 xs:my-4 md:py-6 xs:py-2 shadow-center"
    >
      <section>
        <h2>
          {{ 'HOME.WELCOME' | translate }}
        </h2>
        <p>
          Eu me chamo Lucas sou apaixonado pelo desenvolvimento Web. Atuo nesse
          mercado desafiador desde o ano de 2020, criando códigos que
          impulsionam negócios, procurando sempre trazer as melhores soluções
          tecnológicas.
        </p>
        <p>
          Ao longo do meu percurso, tenho participado ativamente dos ciclos de
          vida de diversos projetos web. Com experiência ampla e diversificada,
          o que me permite ter uma visão abrangente de todo o processo de
          desenvolvimento. Fui reconhecido por minha habilidade na criação de
          projetos a partir do zero, além de suporte em correções de projetos já
          em produção.Estou constantemente me atualizando e acompanhando as
          tendências do mercado, explorando novas tecnologias para oferecer
          soluções eficientes.
        </p>
        <p>
          Sinta-se à vontade para explorar meu site e entrar em contato comigo.
          Estou pronto para colaborar e transformar suas ideias em realidade por
          meio de aplicações web funcionais, intuitivas e esteticamente
          atraentes. Vamos embarcar nessa jornada juntos!
        </p>
      </section>
      <section>
        <h2>
          {{ 'HOME.ABOUTME' | translate }}
        </h2>
        <div class="pt-6 flex justify-around">
          <div
            class="flex items-center justify-center md:w-56 md:h-56 border-solid border-2 border-purple-2 rounded-full shadow-center"
          >
            <img class="w-max" src="" alt="img-profile" />
          </div>
          <div class="w-2/3">
            <p>
              Sendo apaixonado pela área de segurança cibernética e busco
              constantemente aprimorar meus conhecimentos nessa área em
              constante evolução. A complexidade do mundo digital e as ameaças
              que o acompanham me fascinam e me motivam a estar sempre
              atualizado.
            </p>
            <p>
              Além disso, tenho uma família linda, com uma esposa excepcional e
              tenho a alegria de ser pai de dois filhos maravilhosos. Eles são
              minha maior fonte de inspiração e motivação para crescer e me
              superar a cada dia. A família é um pilar fundamental em minha vida
              e encontrar um equilíbrio saudável entre o trabalho e a dedicação
              à eles é uma prioridade para mim.
            </p>
          </div>
        </div>
        <p>
          Para manter um estilo de vida ativo, sou um entusiasta dos esportes.
          Acredito que o movimento e o exercício físico são essenciais para
          manter a mente e o corpo saudáveis. Em particular, tenho uma paixão
          pelas artes marciais, tendo praticado boxe no passado e, atualmente,
          me dedicando à escrima. A disciplina, o foco e o desafio constante
          dessas práticas me ensinam valiosas lições de perseverança e
          autocontrole.
        </p>
        <p>
          Outra faceta importante de quem sou é minha paixão pela leitura. Gosto
          de ler livros técnicos, buscando sempre aprender mais me mantendo
          atualizado sobre as últimas tendências e tecnologias do mundo da
          informática. Além disso, tenho um apreço especial por livros de
          filosofia, pois acredito que a reflexão e a busca por conhecimento
          filosófico são fundamentais para uma compreensão mais profunda da
          existência e das questões que nos rodeiam.
        </p>
      </section>
    </div>
  </ng-container>
</div>
