<div
  class="w-full h-auto flex flex-col justify-center items-center bg-gray overflow-hidden"
>
  <div class="w-full">
    <app-navbar></app-navbar>
  </div>
  <div
    class="flex flex-col xs:w-3/4 md:w-1/2 xs:px-6 md:px-10 md:my-8 xs:my-4 md:py-6 xs:py-2 bg-white shadow-center rounded-6"
  >
    <div id="home">
      <app-home></app-home>
    </div>
    <div id="career">
      <app-career></app-career>
    </div>
    <div id="skills">
      <app-skills></app-skills>
    </div>
    <div id="aboutme">
      <app-about></app-about>
    </div>
    <div id="projects">
      <app-projects></app-projects>
    </div>
    <div class="btn-backtop">
      <a (click)="backToTop()">
        <div
          class="md:text-xs xs:text-2xs text-gray-6 font-600 bg-gray rounded-30 px-1"
        >
          {{ 'BACKTOTOP' | translate }}
        </div>
        <img
          src="../../../assets/icons/icon/back-top.svg"
          alt="backtop"
          [title]="'BACKTOTOP'"
          width="24"
          height="24"
        />
      </a>
    </div>
  </div>
</div>
