<div
  class="w-full h-auto flex flex-col justify-center items-center bg-gray overflow-hidden"
>
  <div class="w-full">
    <app-navbar></app-navbar>
  </div>
  <div
    class="flex flex-col xs:w-4/5 md:w-3/5 xs:px-6 md:px-10 md:my-8 xs:my-4 md:py-6 xs:py-2 bg-white shadow-center rounded-6"
  >
    <div id="home">
      <app-home></app-home>
    </div>
    <div id="skills">
      <app-skills></app-skills>
    </div>
    <div id="career">
      <app-career></app-career>
    </div>
    <div id="education">
      <app-education></app-education>
    </div>
    <div id="aboutme">
      <app-about></app-about>
    </div>
    <div id="projects">
      <app-projects></app-projects>
    </div>
    <div class="btn-backtop bg-gray rounded-30 px-2 shadow-base">
      <a (click)="backToTop()" class="gap-2 ">
        <div class="md:text-xs xs:text-2xs text-gray-6 font-600">
          {{ 'BACKTOTOP' | translate }}
        </div>
        <app-svg-icon
          [src]="'./assets/icons/icon/arrow-top.svg'"
          [width]="'24px'"
          [height]="'24px'"
          color="#053768"
        ></app-svg-icon>
      </a>
    </div>
  </div>
</div>
